# ESTRUTURA DE DADOS

## Listas

In [1]:
# Criando uma lista chamada animais
animais = [1, 2, 3]
animais

[1, 2, 3]

In [2]:
animais = ['cachorro', 'gato', 12345, 6.5 ]
animais

['cachorro', 'gato', 12345, 6.5]

In [3]:
# Imprimindo o primeiro elemento da lista
animais[0]

'cachorro'

In [5]:
# Imprimindo o quarto elemento da lista
animais[3]

6.5

In [9]:
# Substituindo o primeiro elemento da lista
animais[0] = 'papagaio'
animais

['papagaio', 12345, 6.5]

In [8]:
# Removendo gato da lista
animais.remove('gato')
animais

['papagaio', 12345, 6.5]

In [10]:
# Tamanho da lista
len(animais)

3

In [11]:
'gato' in animais

False

In [12]:
lista = [500, 30, 300, 80, 10]

In [13]:
max(lista)

500

In [14]:
min(lista)

10

In [19]:
animais.append('leão')
animais

['papagaio', 12345, 6.5, 'leão']

In [31]:
animais.extend(['cobra', 6])
animais

['papagaio', 12345, 6.5, 'leão', 'cobra', 6]

In [37]:
animais.count('cachorro')

0

In [39]:
lista.sort()
lista

[10, 30, 80, 300, 500]

## TUPLAS

In [40]:
# As tuplas usam parênteses com sintaxe
tp = ('Banana', 'Maçã', 10, 50)

In [41]:
# Retornando o primeiro elemento
tp[0]

'Banana'

In [42]:
# Diferente das listas as tuplas são imutáveis, o que quer dizer que não podemos alterar os seus elementos 
tp[0] ='Laranja'

TypeError: 'tuple' object does not support item assignment

In [43]:
tp.count('Maçã')

1

In [44]:
tp[0:2]

('Banana', 'Maçã')

## DICIONÁRIOS

In [45]:
# Para criar um dicionário utilizamos as {}
dc = {'Maçã': 20, 'Banana':10, 'Laranja': 15, 'Uva':5} # Diconários trabalham com o conceito chave e valor
dc

{'Maçã': 20, 'Banana': 10, 'Laranja': 15, 'Uva': 5}

In [50]:
# Acessando o valor de um dicionário através da chave
dc['Maçã']

20

In [51]:
# Atualizando o valor da Maçã
dc['Maçã'] = 25
dc

{'Maçã': 25, 'Banana': 10, 'Laranja': 15, 'Uva': 5}

In [52]:
# Retornando todas as chaves do dicionário
dc.keys()

dict_keys(['Maçã', 'Banana', 'Laranja', 'Uva'])

In [53]:
# Retornando os valores do dicionário
dc.values()

dict_values([25, 10, 15, 5])

In [55]:
# Verificando se já existe uma chave no dicionário e caso não exista inserir
dc.setdefault('limão', 22)
dc

{'Maçã': 25, 'Banana': 10, 'Laranja': 15, 'Uva': 5, 'limão': 22}